.header__nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.header__nav_product-list {
  display: flex;
}

.header__nav_product-list h3 {
  margin-right: 5px;
}

.header__nav_img {
  width: 11%;
}

.account {
  display: flex;
}

.account h3 {
  margin-right: 5px;
}
